.slide {
  background-image: url("/images/testimonial-bg.png");
  padding: 100px 0;

  .container {
    width: 85%;
    margin: auto;

    .title {
      text-align: center;
      width: 60%;
      margin: auto;
      margin-bottom: 80px;

      span {
        font-size: 20px;
        color: #644222;
      }

      h1 {
        font-size: 55px;
        opacity: 0.8;
        margin-bottom: 20px;
      }

      p {
        opacity: 0.6;
      }
    }

    .slide-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      padding: 0 100px;

      .slide-item {
        background-color: #fff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        -webkit-box-shadow: 4px 4px 38px -11px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 38px -11px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 38px -11px rgba(34, 60, 80, 0.2);

        .top {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .stars {
          .icon {
            color: #ffc107;
            font-size: 28px;
            margin-right: 10px;
          }
        }

        p {
          opacity: 0.6;
          font-size: 15px;
        }
      }
    }
  }
}
